<p>list-doctor works!</p>
<div style="left-margin: 50px;">
    <h2 >👩‍⚕️ 30+ Consult with top doctors across specialities</h2>
        <h4>Get expert advice from our doctors</h4>
   </div>
   <div class="specialities-wrapper overflow-x-auto">
     <div class="specialities-carousel flex gap-4">
        <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/3795/w0615e16207252200938.jpg" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Anesthesiology</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div> 
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://cdn.pixabay.com/photo/2023/06/23/08/23/ai-generated-8082995_1280.jpg" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Phychiatry</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://cdn.pixabay.com/photo/2024/01/05/22/02/ai-generated-8490210_1280.jpg" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Cardiology</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://cdn.pixabay.com/photo/2021/11/19/12/01/teeth-6809069_1280.png" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Dentistry</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://media.istockphoto.com/id/1438102998/vector/futuristic-abstract-symbol-of-the-human-stomach-gastritis-ulcer-and-heartburn-treatment.jpg?s=612x612&w=0&k=20&c=FAD6XtrVc2WhiQWT50r0W2WgpH-AeLzYQMuw1gqSc38=" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Gastroenterology</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://cdn.pixabay.com/photo/2023/12/14/14/02/ai-generated-8448947_1280.jpg" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Hematology</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://cdn.pixabay.com/photo/2024/05/19/00/56/body-8771260_1280.png" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Hepatology</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://cdn.pixabay.com/photo/2023/02/24/04/29/ai-generated-7810166_1280.jpg" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">General Physician</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://media.istockphoto.com/id/1205255224/photo/we-work-with-a-valve-valve-replacement-heart-surgery.jpg?s=612x612&w=0&k=20&c=ulKN-em4i18Ym8uXc_6URRms2qSWpmaqZvQysnp_Q2k=" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">General Surgeon</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
       <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
         <div class="flex flex-col justify-center h-full items-center text-center">
           <img src="https://media.istockphoto.com/id/2149978625/vector/preeclampsia-awareness-month-doctor-measuring-blood-pressure-of-her-pregnant-patient-vector.jpg?s=1024x1024&w=is&k=20&c=WdkySN-q6dOfEAO8drmh714B2_8F3Jto9kWoXYMJFKM=" [alt]="title" />
           <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Gynocologist</h3>
           <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
             Consult Now
           </a>
         </div>
       </div>
      <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
     <div class="flex flex-col justify-center h-full items-center text-center">
       <img src="https://media.istockphoto.com/id/1488267820/video/rosacea-face-skin-problem.avif?s=640x640&k=20&c=dLmCXzVTizi6OWKnYGpiTv7onw3R68714QSSTLiqRpc=" [alt]="title" />
       <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Dermatologist & Plastic surgeon</h3>
       <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
         Consult Now
       </a>
     </div>
   </div>
   <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
     <div class="flex flex-col justify-center h-full items-center text-center">
       <img src="https://cdn.pixabay.com/photo/2017/06/09/17/19/baby-2387637_1280.jpg" [alt]="title" />
       <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Pediatric Surgery</h3>
       <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
         Consult Now
       </a>
     </div>
   </div> <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
     <div class="flex flex-col justify-center h-full items-center text-center">
       <img src="https://media.istockphoto.com/id/1388254153/photo/shot-of-a-baby-sitting-on-her-mothers-lap-while-being-examined-by-a-doctor.jpg?s=612x612&w=0&k=20&c=PBzQWrBVp8pIyYBH_ds8Bu8y4Y4j2jdL3Z2n8L1W0v4=" [alt]="title" />
       <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Pediatrics</h3>
       <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
         Consult Now
       </a>
     </div>
   </div>
   <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
     <div class="flex flex-col justify-center h-full items-center text-center">
       <img src="https://img.freepik.com/free-photo/senior-woman-hospital-office-looking-brain-ct-scan-while-discussing-with-doctor-about-diagnosis-sick-young-woman-elderly-medic-with-grey-hair-clinic-corridor_482257-9563.jpg?ga=GA1.1.1891027233.1741195648&semt=ais_hybrid&w=740" [alt]="title" />
       <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Neuromedicine</h3>
       <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
         Consult Now
       </a>
     </div>
   </div> <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
     <div class="flex flex-col justify-center h-full items-center text-center">
       <img src="https://img.freepik.com/premium-photo/innovative-neurosurgery-team-surgeons-performs-complex-brain-surgery-illuminated-by-advanced-medical-imaging-technology_607202-18042.jpg?w=2000" [alt]="title" />
       <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Neuro Surgery</h3>
       <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
         Consult Now
       </a>
     </div>
   </div>
   <div class="card shadow-md bg-white rounded-xl p-4 py-6 min-w-[250px] h-[250px]">
     <div class="flex flex-col justify-center h-full items-center text-center">
       <img src="https://img.freepik.com/premium-photo/close-up-hand-wear-medical-gloves-doctor-medical-gloves-holds-artificial-boneof-foot-examines-sore-leg-with-heel-spur-woman-close-up-osteophytes-heel-fascia_61243-784.jpg?ga=GA1.1.1891027233.1741195648&semt=ais_hybrid&w=740" [alt]="title" />
       <h3 class="text-base md:text-xl mb-1 font-semibold text-bluePurple">Orthopadics</h3>
       <a [class]="fontWeight" class="text-plum inline-flex text-sm md:text-lg cursor-pointer" [href]="specialtyLink">
         Consult Now
       </a>
     </div>
   </div>
   </div>
   </div>