<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">
    <div class="container">
        <a class="navbar-brand fw-bold text-white" href="home">
            🏥 Doctor Portal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2 rounded-lg transition-all hover:bg-light-green"
                        href="/doctor-list">
                        📅 All Doctors
                    </a>
                </li>
                @if ( userRole === 'admin') {
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2 rounded-lg transition-all hover:bg-light-green"
                        href="/add-doctor">
                        👩‍⚕️ Add Doctor
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2 rounded-lg transition-all hover:bg-light-green"
                        href="/add-patient">
                        👩‍⚕️ Add Patient
                    </a>
                </li>
                } 
                @if (userRole === 'patient'){
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2 rounded-lg transition-all hover:bg-light-green" href="/#">
                        📅 Book Appointment
                    </a>
                </li>
                }
                @if ( userRole === 'admin' || userRole === 'doctor') {
                <li class="nav-item">
                    <a class="nav-link text-white px-3 py-2 rounded-lg transition-all hover:bg-light-green"
                        href="/appoinment-history">
                        📜 Appointment History
                    </a>
                </li>}
                <li class="nav-item">
                    <button (click)="logout()"
                        class="nav-link btn btn-link text-white px-3 py-2 rounded-lg transition-all hover:bg-light-green">
                        🚪 Logout
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>