<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow p-4 rounded-4">
      <h3 class="text-center mb-4">✍️ Register</h3>
      <app-patient-form
        [patient]="user"
        [(confirmPassword)]="confirmPassword"
        (formSubmit)="addPatient()"
      ></app-patient-form>
      <div class="mt-3 text-center">
        Already have an account? <a routerLink="/login">Login here</a>
      </div>
    </div>
  </div>
</div>
