<div class="container">
    <h1 class="container">Bithy's Diagnostic center</h1>
    
    <!-- Patient Information -->
    <div class="section">
      <h2>Patient Information</h2>
      <div class="details">
        <div>
          <label for="prescriptionId"><strong>Prescription ID:</strong></label>
          <input id="prescriptionId" type="text"  name="prescriptionId" class="border p-2 w-full rounded" required>
        </div>
        <div>
          <label for="patientName"><strong>Patient's Name:</strong></label>
          <input id="patientName" type="text"  name="patientName" class="border p-2 w-full rounded" required>
        </div>
        <div>
          <label for="doctorId"><strong>Doctor ID:</strong></label>
          <input id="doctorId" type="text"  name="doctorId" class="border p-2 w-full rounded" required>
        </div>
        <hr>
      </div>
    </div>
  
    <!-- Medicines Section -->
    <table class="medicine-table w-full table-auto">
      <thead >
        <tr class="col-3">
          <th class="border p-2">Medicine Name</th>
          <th class="border p-2">Dosage</th>
          <th class="border p-2">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input formControlName="medicineName" class="border p-2 w-full rounded" placeholder="e.g., Napa500" >
          </td>
          <td>
            <input formControlName="dosage" class="border p-2 w-full rounded" placeholder="e.g., Morning before meal" >
          </td>
          <td>
            <input formControlName="duration" class="border p-2 w-full rounded" placeholder="e.g., 10 days" >
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Investigations Section -->
    <div class="section">
      <h2>Investigations</h2>
      <ul>
        <li>{{ investigation1 }}</li>        
      </ul>
      <hr>
    </div>
  
    <!-- Advice Section -->
    <div class="section">
      <h2>Advice</h2>
      <p>{{ advice }}</p>
    </div>
  
    <!-- Follow-Up Date -->
    <div class="section">
      <h2>Follow-Up Date</h2>
      <p>{{ followUpDate }}</p>
    </div>
  </div>
  